name: Increment Version (main)

on:
  push:
    branches:
      - main

jobs:
  build:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    permissions:
      id-token: write
      contents: write
      checks: write
    
    steps:
      - uses: actions/checkout@v4

      - name: Increment Version
        uses: hughmacdonald/SemanticVersioner@v1
        with:
          main-branch: "main"
          include-shorter-versions: 1
